/* body {
  background-color: #292929;
} */
body {
  background-color: #e4e4e4;
}

h2 {
  color: rgb(97, 97, 97);
  margin-bottom: 20px;
}

footer, .jumbotron {
  background-color: #3a068d;
  color: white;
  overflow: auto;
}

/* .bg2 {
  background-color: #3a068d;
  color: white;
  overflow: auto;
} */
.bg2 {
  background-color: #ffffff;
  /* color: white; */
  overflow: auto;
}

.navbar {
  background-color: rgb(88, 1, 223); 
}

/* .jumbotron {
  background-color: #3a068d;
} */

.btn {
  background-color: #e1bd04;
  border-color: #e1bd04;
  color: white;
}
.btn:hover {
  background-color: #f5d847;
  border-color: #f5d847;
  color: white;
}

.icon {
  height: 40px;
  width: auto;
}

.tech-icon {
  overflow: auto;
  height: 500px;

}

.tech-icon img {
  margin-bottom: 20px;
  max-height: 100px;
  max-width: 250px;
}

.button-icon {
  height: 40px;
  width: auto;
  margin: 0px 10px 0px -8px;
}