body {
  background-color: #292929;
}

footer, .jumbotron, .bg2 {
  background-color: #3a068d;
  color: white;
  overflow: auto;
}

.navbar {
  background-color: rgb(88, 1, 223); 
}

/* .jumbotron {
  background-color: #3a068d;
} */

.btn {
  background-color: #e1bd04;
  border-color: #e1bd04;
  color: white;
}
.btn:hover {
  background-color: #f5d847;
  border-color: #f5d847;
  color: white;
}

.icon {
  height: 40px;
  width: auto;
}

.tech-icon {
  overflow: auto;
  height: 500px;

}

.tech-icon img {

  max-height: 100px;
  max-width: 250px;
}